<div class="animated fadeIn fast">
    <h1 class="animated fadeIn fast">Alta productos</h1>
    <hr>
    <table class="table table-striped text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of lstProductos">
                <th scope="row">{{producto.id}}</th>
                <th>{{producto.nombre}}</th>
                <th>{{producto.precio | currency }}</th>
                <th>
                    <button (click)="verProducto(producto)" type="button" class="btn btn-outline-success m-1">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    <button (click)="modificarProducto(producto)" type="button" class="btn btn-outline-warning m-1">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button (click)="eliminarProducto(producto)" type="button" class="btn btn-outline-danger m-1">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </th>
            </tr>
        </tbody>
    </table>
</div>